*.gem
*.rbc
.bundle
.config
coverage
InstalledFiles
lib/bundler/man
config/settings.yml
pkg
rdoc
test/tmp
test/version_tmp
tmp
Gemfile.lock

# YARD artifacts
.yardoc
_yardoc
doc/
/log
/log/**/*

.idea
.ruby-gemset
config/database.yml
config/shards.yml
db/schema.rb
.DS_Store
.rvmrc
.env
bin
db/*.sqlite3
db/schema*
log/*.log
public/uploads
public/assets
